svg.defaultSvg{
    height: 25px;
    width: auto;
    fill: #D9D9D9;
    transition: fill 0.3s ease;
}
svg.defaultSvg path:last-child{
    opacity: 0;
    fill: red;
}
svg.navSvg{
    height: 38px;
}