.post{
    display: grid;
    grid-template-columns: 1fr 32px;
    column-gap: 8px;
    width: 450px;
    margin: 0 auto;
    position: relative;
}
.post::after{
    content: '';
    position: absolute;
    bottom: -4px;
    inset-inline: 0;
    height: 1px;
    background: var(--white);
    opacity: .2;
    border-radius: 100vh;
}
.post_header{
    display: flex;
    gap: 9px;
}
.post_header_pp{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    overflow: hidden;
}
.post_header_pp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.post_header_info_username{
    font-family: var(--ff-devgothic);
    font-size: 20px;
    transform: translateY(-5px);
    height: 20px;
}
.post_header_info_date{
    font-size: 13px;
    color: var(--white);
    opacity: .5;
}
.post_content_body{
    font-size: 20px;
}

.post_actions{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 18px;
}
.post_actions button{
    cursor: pointer;
    width: 100%;
    background: #0000;
    border: none;
}

@media screen and (width < 600px){
    .post{
        width: calc(100% - 30px);
    }
}