@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Dev Gothic";
    src: url("./assets/fonts/devgothic.woff2") format("woff2"),
         url("./assets/fonts/devgothic.woff") format("woff"),
         url("./assets/fonts/devgothic.TTF") format("truetype");
}

:root{
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    interpolate-size: allow-keywords;

    --ff-devgothic: "Dev Gothic", system-ui, sans-serif;

    --bg-color-1: #101720;
    --bg-color-2: #171717;
    --text-color: #d9d9d9;
    --white: #fff;
}


/* ======== SCROLLBAR ======== */

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track{
    background-color: #171717;
}
::-webkit-scrollbar-thumb{
    background-color: #bc4b27;
    border-radius: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    hanging-punctuation: first last;
    color-scheme: dark;
    scrollbar-color: #bc4b27 #171717; /* For Firefox scrollbar: thumb color then track color */
}

body {
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    min-height: 100svh;
    background: linear-gradient(var(--bg-color-1), var(--bg-color-2));
    color: var(--text-color);
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    font-family: var(--ff-devgothic);
}

h1{
    text-align: center;
    margin: 0 auto;
    padding-block: 16px;
    font-size: 32px;
}
h2{
    font-size: 26px;
}

p {
    max-width: 75ch;
    text-wrap: pretty;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
}

ul {
    list-style: none;
}

.App{
    min-height: 100svh;
    height: 100%;
}

.too-big-select > *{
    min-width: 100px!important;
}

#nprogress .bar{
    background: #bc4b27!important;
}

@keyframes soink-appear {
    to {
        opacity: 1;
    }
}
@keyframes dying-animation {
    30% {
        transform: none;
    }
    50% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(500px);
    }
}
.soink-container{
    animation: soink-appear 1s linear forwards;
}
.soink.isDead img.soink-sprite{
    animation: dying-animation 1s ease-in-out forwards;
}

@keyframes doABarrelRoll {
    to {
        transform: rotate(1turn);
    }
}
body:has(main.main-is-roll){
    overflow: clip;
    animation: doABarrelRoll 2s ease forwards;
}

@keyframes spin-pfp {
    to {
        transform: rotate(10turn);
    }
}
img.pfp-is-egg{
    animation: spin-pfp 2s ease forwards;
}

.broken-pfp.broken-pfp-block{
    display: none;
}
.broken-pfp.broken-pfp-block:has(+ .broken-pfp:not(.broken-pfp-block)){
    display: block;
}


/* ======== REDUCED MOTION: NO PREFERENCE ======== */

@media (prefers-reduced-motion: no-preference) {
    html,
    :has(:target) {
        scroll-behavior: smooth;
    }
}