.experience-bar{
    width: min(100% - 20px, 370px);
    height: 3px;
    border-radius: 100vh;
    overflow: hidden;
    background: rgb(224 224 224 / 0.5);
    margin: 0 auto;
    margin-top: 20px;
}
.experience-bar div{
    border-radius: inherit;
    width: 0;
    height: 100%;
    background: linear-gradient(90deg, var(--clr-300), var(--clr-400));
}